CLERK_SECRET_KEY="See README.md for setup instructions"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/nextjs_template_development"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="See README.md for setup instructions"
OPENAI_API_KEY="optional"
